img * {image-rendering: pixelated !important;}

img {
   position: absolute;
   margin-top: 10%;
   left: 50%;
   width: 300px;
   height: 400px;
   margin-left: -146px;
   image-rendering: auto;
   image-rendering: crisp-edges;
   image-rendering: pixelated !important;
}
a {
    
   cursor: url(img/cursore.png), auto;
   cursor: url(img/cursore.png), default;
  
  }
.testo {
  
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  animation-play-state: running;
  position: fixed;
  margin-left: 45%;
  bottom: 5%;
  background-color: black;
  border-radius: 10px;
  border-style: solid;
  border-color: yellow;
  padding: 8px;
  padding-left: 10px;
  
  
  
}
